<div class="wrapper">

  <div class="product" *ngFor="let item of products; let i=index">
    <div class="title">
      {{item.name}}
    </div>

    <div class="text">
      <div class="code">PRD {{i}}</div>
      <div class="description">  {{item.description}}  </div>
      <div class="review">
        <span class="star-icon"></span>
        <span class="star-icon"></span>
        <span class="star-icon"></span>
        <span class="star-icon"></span>
        <span class="star-icon star-disable"></span>
        <span class="star-reviews">{{item.stockQuantity}} reviews</span>
      </div>
      <div class="price">
        ${{item.price}}
      </div>
      <div class="shop-actions">
        <button><img src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/shopping-cart-20.png" /> Add to Cart</button>
      </div>
    </div>

    <div class="preview">
      <svg class="svg" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle" cx="100" cy="100" r="100"/>
        <image class="image" xlink:href="https://benhvienmayanh.com/files/images/kinhnghiem/kinhnghiem_suamayanhcanon7d_banner.png" x="0" y="0" width="200px" height="180px"/>
      </svg>
    </div>

  </div>


</div>
